[submodule "Resonance"]
	path = Resonance
	url = https://github.com/tz-lom/Resonance-API
[submodule "thir"]
	path = thir
	url = https://github.com/tz-lom/thir
[submodule "boost/preprocessor"]
	path = boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "boost/endian"]
	path = boost/endian
	url = https://github.com/boostorg/endian
[submodule "boost/config"]
	path = boost/config
	url = https://github.com/boostorg/config
[submodule "boost/predef"]
	path = boost/predef
	url = https://github.com/boostorg/predef
[submodule "boost/core"]
	path = boost/core
	url = https://github.com/boostorg/core
[submodule "boost/static_assert"]
	path = boost/static_assert
	url = https://github.com/boostorg/static_assert
